# Do not commit local MoveIt config workspace
five_axis_moveit_config/

# Frontend dependencies and build outputs
web_rviz/node_modules/
web_rviz/dist/
web_rviz/.vite/

# Local env files
*.log
.DS_Store
Thumbs.db

# python cache
web_rviz/tools/__pycache__/
# Sphinx docs build outputs
docs/_build/
docs/__pycache__/
